form label {
  display: block;
  margin: 1.5rem 0 1rem 0;
  font-size: 0.8rem;
}

form h2 {
  font-size: 1.5rem;
}

label[for=aporte-inicial] {
  opacity: 0.6;
}

/* IPCA e CDI */
.indicators {
 right: 6rem;
 width: 11rem;
 margin-right: 1rem;
 border-bottom: 1px solid var(--text);
}

.indicators p {
 margin-top: 2.4rem;
 font-size: 0.8rem;
}

.lista-indicators:first-of-type {
 right: 3rem;
}
/*////// BUTTONS ////*/
 
button {
 border: 1.3px solid var(--text);
 color: var(--text);
 background-color: var(--bg-color);
 padding: 1rem 1rem;
 cursor: pointer;
}

.submit-btn, .reset-btn {
 width: 14rem;
 border-radius: 0.4rem;
 margin: 2rem 0.4rem;
 font-weight: bold;
 font-size: 1.2rem;
}

.submit-btn {
 background-color: var(--submit-btn);
 border: none;
}

.simulator {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
}

@media (max-width: 550px) {
  form h2 {
    text-align: center;
  }
  .simulator {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .simulator input {
    width: 98%;
  }

  .indicators {
    position: relative;
    right: 0rem;
    left: 0.3rem;
    width: 54%;
  }

  .submit-btn, .reset-btn {
    position: relative;
    left: 6.3rem;
  }
}

@media (max-width: 360px) {
  .indicators {
    width: 85%;
  }
  .submit-btn, .reset-btn {
    position: relative;
    left: 1.3rem;
  }
}