.info {
  position: relative;
  left: 4.5rem;
  width: 1rem;
  opacity: 0.6;
}

.info:hover {
  opacity: 0.4;
}

.btn-group-label {
  display: flex;
  justify-content: space-between;
  margin-top: 0rem;
  width: 8rem;
}

button[name="bruto"], 
button[name="pre"] {
  width: 6.2rem;
  border-bottom-left-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
}
button[name="liquido"],
button[name="pos"] {
  width: 6.2rem;
  border-bottom-right-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.check {
  width: 0.8rem;
  margin-right: 0.1rem;
  vertical-align: bottom;
}

@media (max-width: 550px) {
  .btn-group-label {
    margin-top: 2rem;
  }
}