.results h2 {
  font-size: 1.5rem;
  margin-bottom: 2.4rem;
}

.results-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.4rem 3.3rem; 
}

.results-list li {
  box-shadow: 0px 0px 7px #b3b2b2;
  text-align: center;
  padding: 0rem 1rem;
}

.results-list p:first-of-type {
  margin-top: 0.5rem;
  font-weight: 500;
}

.green-text {
  color: #4f9f36;
  font-weight: 500;
}

@media (max-width: 1058px) {
  .results-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .results-list {
    grid-template-columns: 1fr;
    position: relative;
    left: 4rem;
  }
  .results h2 {
    position: relative;
    left: 4.5rem;
  }
}

@media (max-width: 360px) {
  .results-list {
    grid-template-columns: 1fr;
    position: relative;
    left: 0rem;
  }
}