.wrapper {
  display: flex;
  text-align: left;
  padding: 0 2rem;
 }
 
 .simulador {
   border: 2px solid pink;
 }
 
 .display-flex {
   display: flex;
 }

 .display-flex section {
   margin-right: 4.5rem;
 }

 form label {
   display: block;
 }
  
 button {
  border: 1.3px solid black;
  background-color: #efefef;
  padding: 0.8rem 1rem;
}

button:focus {
  background-color: #f58c4b;
  color: white;
}

.left-btn {
  border-bottom-left-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
}
.right-btn {
  border-bottom-right-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.submit-btn, .reset-btn {
  border-radius: 0.4rem;
  margin: 1rem 0.4rem;
  font-weight: bold;
}

 input {
   border: none;
   border-bottom: 1px solid black;
   background: transparent;
 }
