.info {
  position: relative;
  left: 4.5rem;
  width: 1rem;
  opacity: 0.5;
}

.btn-group-label {
  margin-top: 0rem;
}

button[name="bruto"], 
button[name="pre"] {
  width: 6.2rem;
  border-bottom-left-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
}
button[name="liquido"],
button[name="pos"] {
  width: 6.2rem;
  border-bottom-right-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.simulator button img {
  width: 0.8rem;
  margin-right: 0.1rem;
  vertical-align: bottom;
}

@media (max-width: 550px) {
  .btn-group-label {
    margin-top: 2rem;
  }
}