@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

:root {
  --bg-color: #efefef;
  --primary-color: #f58c4b;
  --text: black;
  --text-btn-focus: white;
  --submit-btn: #969696;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}
